{
    margin:0;
    padding: 0;
}
@font-face{
    font-family: myfontface;
    src : url(font/jj.ttf);
}
html{
    background: url() no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-color: 
}
body{
    width: 100%;
    height: 100%;
}
p1{
    font-size: 55px;
    color: black;
    font-family:myfontface;
    float:right;
    margin-right: 05%;
    margin-top: 05%;
    
   
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
     position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
      
}

li {
  float: left;
}
li {
    font-size: 35px;
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:white;
}
.active{
    background-color:white;
}


section{
	width:100%;
    height: 80%;
}
aside{
	width:20%;
	
	background: grey;
	float:left;
  
}
article{
	width:78%;
   margin-left: 20px;
	float:right;
}

h2{
    font-size: 35px;
    color: white;
    background: black;
    text-align: center;
    height: 60px;
    padding-top: 0;
    margin-top: 0;
    font-family: inherit;
 


}
h5{
   font-size: 35px;
    color: white;
    background: black;
    text-align: center;
    height: 60px;
    padding-top: 0;
    margin-top: 0;
    font-family: inherit;
    margin-bottom: 0px;
  
}
ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
 height: 100%;
  background-color: grey;
  position:sticky;
 
width: 20%;
}

li1  a {
  display: block;
  color: #000;
  
  text-decoration: none;
    font-size: 25px;
    background-color: grey;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
li1 a:hover{
    background-color: white;
}
ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li2 {
  float: left;
}

li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
@font-face{
    font-family:my firstfont;
    src:url(font/hjf.ttf);
}
p2{
    font-size: 30px;
    font-family:my firstfont ;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 20px;
   
    
}

img{
    margin-top: 0;
    padding-top: 0;
}
@font-face{
    font-family:mysecondfont;
    src:url(rrr.otf);
}
h3{
    margin-top: 20px;  
}
#sale{
  padding: 0px;

    
    
}
.glow{
     font-family:inherit;
     font-size: 85px;
     color: white;
    background-color: black;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow{
    to{
        text-shadow: 0 0 5px #ffffff,0 0 10px #ffffff,0 0 15px #ffffff,0 0 20px #ffffff,0 0 25px #ffffff;
    }
}

#aa{
    margin-top: 0px;
    
    
}
h4{
    background: #dcb3b3;
    font-size: 85px;
    padding-top:-50px;
    text-align: center;
    margin-top: 0px;
   
}

h6{
    background: black;
    color: white;
    font-family: mysecondfont;
    font-size: 55px;
    margin-top: 0px;
    text-align: center;
}
h4{
   
    color: black;
    font-size: 65px;
    text-align: 
    height: 60px;
    padding: 30px;
}
<-------------------------------------------------------------------photos------------------------------------------------------------------------>
figcaption{
    display: block;
    
    font-size: 50px;
}
#raman01{
    
}
#raman02{
    margin-top: -340px;
    margin-left: 350px;
}
#raman03{
    margin-left: 700px;
    margin-top: -360px;
}
#raman04{
    margin-top: 50px;
}
#raman05{
    margin-top: -340px;
    
    margin-left: 350px;
}
#raman06{
    margin-left: 700px;
    margin-top: -360px;
}
#raman07{
    margin-top: 40px;
}
#raman08{
    margin-top: -360px;
    margin-left: 350px;
}
#raman09{
    
}
#raman10{
    margin-top: -340px;
    margin-left: 350px;
}
#raman11{
    margin-top: -340px;
    margin-left: 700px;
}
#raman12{
    margin-top: 60px;
    margin-bottom: 80px;
}
#raman13{
    margin-left: 350px;
    margin-top: -440px;
    margin-bottom: 80px;
}
#raman01 {
  position: relative;
  width: 30%;
}
#raman02 {
  position: relative;
  width: 30%;
}
#raman03 {
  position: relative;
  width: 30%;
}
#raman04 {
  position: relative;
  width: 30%;
}

#raman05 {
  position: relative;
  width: 30%;
}
#raman06 {
  position: relative;
  width: 30%;
}
#raman07 {
  position: relative;
  width: 30%;
}
#raman08 {
  position: relative;
  width: 30%;
}
#raman09 {
  position: relative;
  width: 30%;
}
#raman10 {
  position: relative;
  width: 30%;
}
#raman11 {
  position: relative;
  width: 30%;
}
#raman12 {
  position: relative;
  width: 30%;
}
#raman13{
  position: relative;
  width: 30%;
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#raman01:hover .image {
  opacity: 0.3;
}

#raman01:hover .middle {
  opacity: 1;
}
#raman02:hover .image {
  opacity: 0.3;
}

#raman02:hover .middle {
  opacity: 1;
}
#raman03:hover .image {
  opacity: 0.3;
}

#raman03:hover .middle {
  opacity: 1;
}

#raman04:hover .image {
  opacity: 0.3;
}

#raman04:hover .middle {
  opacity: 1;
}
#raman05:hover .image {
  opacity: 0.3;
}

#raman05:hover .middle {
  opacity: 1;
}
#raman06:hover .image {
  opacity: 0.3;
}

#raman06:hover .middle {
  opacity: 1;
}
#raman07:hover .image {
  opacity: 0.3;
}

#raman07:hover .middle {
  opacity: 1;
}
#raman08:hover .image {
  opacity: 0.3;
}

#raman08:hover .middle {
  opacity: 1;
}
#raman09:hover .image {
  opacity: 0.3;
}

#raman09:hover .middle {
  opacity: 1;
}
#raman10:hover .image {
  opacity: 0.3;
}

#raman10:hover .middle {
  opacity: 1;
}
#raman11:hover .image {
  opacity: 0.3;
}

#raman11:hover .middle {
  opacity: 1;
}
#raman12:hover .image {
  opacity: 0.3;
}

#raman12:hover .middle {
  opacity: 1;
}
#raman13:hover .image {
  opacity: 0.3;
}

#raman13:hover .middle {
  opacity: 1;
}
#tt:hover{
    background: red;
}
.head{
    padding: 0;
}



.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 40px;
    padding-top: -50px;
}

/*----------------------------------------------search bar-----------------------------------*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/*footer{
    background: black;
    color: white;
    height: 50px;
    font-size: 25px;
    text-align: center;
}