*{
    margin:0;
    padding: 0;
}
@font-face{
    font-family: myfontface;
    src : url(font/jj.ttf);
}
html{
    background: url() no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}
body{
    width: 100%;
    height: 100%;
}
p1{
    font-size: 55px;
    color: black;
    font-family:myfontface;
    float:right;
    margin-right: 05%;
    margin-top: 05%;
    
   
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
     position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
      
}

li {
  float: left;
}
li {
    font-size: 35px;
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:white;
}
.active{
    background-color:white;
}


section{
	width:100%;
    height: 80%;
}
aside{
	width:20%;
	
	background: grey;
	float:left;
  
}
article{
	width:78%;
   margin-left: 20px;
	float:right;
}
h2{
    font-size: 35px;
    color: white;
    background: black;
    text-align: center;
    height: 60px;
    padding-top: 0;
    margin-top: 0;
    font-family: inherit;
 


}
h5{
   font-size: 55px;
    color: white;
    background: black;
    text-align: center;
    height: 60px;
    padding-top: 0;
    margin-top: 0;
    font-family: inherit;
    margin-bottom: 0px;
  
}
ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
 height: 100%;
  background-color: grey;
  position:sticky;
 
width: 20%;
}

li1  a {
  display: block;
  color: #000;
  
  text-decoration: none;
    font-size: 25px;
    background-color: grey;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
li1 a:hover{
    background-color: white;
}
ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li2 {
  float: left;
}

li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
h1{
    font-size:45px;
    color: white;
    background: black;
    text-align: center;
    padding: 20px;
    width: 100%;
}
figcaption{
    font-size: 20px;
}

<!-------------------photo------------------------>
#girl01{
    padding-top: 60px;
}
#girl02{
    margin-top: -372px;
    margin-left: 350px;
}
#girl03{
    margin-top: -396px;
    margin-left: 700px;
}
#girl04{
    padding-top: 30px;
}
#girl05{
    margin-top: -350px;
    margin-left: 350px;
}
#girl06{
    margin-top: -347px;
    margin-left: 700px;
}
#girl07{
    padding-top: 30px;
}

#boy02{
    margin-top: -370px;
    margin-left: 350px;
}
#boy03{
    margin-top: -375px;
    margin-left: 700px;
}
#boy04{
    padding-top: 30px;
}
#boy05{
    margin-top: -390px;
    margin-left: 350px;
}
#a01{
    padding-top: 30px;
}
#a02{
   margin-left: 350px;
    margin-top: -375px;
}
#a03{
    margin-left: 700px;
    margin-top: -375px;
}
#a04{
    padding-top: 20px;
}
#a05{
    margin-left: 350px;
    margin-top: -372px;
}
#a06{
    margin-left: 700px;
    margin-top: -372px;
}
#a07{
    padding-bottom: 90px;
}
#a08{
    margin-left: 350px;
    margin-top: -442px;
}
#tt:hover{
    background: red;
}
#girl01 {
  position: relative;
  width: 30%;
}
#girl02 {
  position: relative;
  width: 30%;
}
#girl03 {
  position: relative;
  width: 30%;
}
#girl04 {
  position: relative;
  width: 30%;
}

#girl05 {
  position: relative;
  width: 30%;
}
#girl06 {
  position: relative;
  width: 30%;
}
#girl07 {
  position: relative;
  width: 30%;
}
#boy01 {
  position: relative;
  width: 30%;
}
#boy02 {
  position: relative;
  width: 30%;
}
#boy03 {
  position: relative;
  width: 30%;
}
#boy04 {
  position: relative;
  width: 30%;
}
#boy05{
  position: relative;
  width: 30%;
}
#a01 {
  position: relative;
  width: 30%;
}
#a02 {
  position: relative;
  width: 30%;
}
#a03 {
  position: relative;
  width: 30%;
}
#a04 {
  position: relative;
  width: 30%;
}
#a05 {
  position: relative;
  width: 30%;
}
#a06 {
  position: relative;
  width: 30%;
}
#a07 {
  position: relative;
  width: 30%;
}
#a08 {
  position: relative;
  width: 30%;
}


.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#girl01:hover .image {
  opacity: 0.3;
}

#girl01:hover .middle {
  opacity: 1;
}
#girl02:hover .image {
  opacity: 0.3;
}

#girl02:hover .middle {
  opacity: 1;
}
#girl03:hover .image {
  opacity: 0.3;
}

#girl03:hover .middle {
  opacity: 1;
}

#girl04:hover .image {
  opacity: 0.3;
}

#girl04:hover .middle {
  opacity: 1;
}
#girl05:hover .image {
  opacity: 0.3;
}

#girl05:hover .middle {
  opacity: 1;
}
#girl06:hover .image {
  opacity: 0.3;
}

#girl06:hover .middle {
  opacity: 1;
}
#girl07:hover .image {
  opacity: 0.3;
}

#girl07:hover .middle {
  opacity: 1;
}
#boy01:hover .image {
  opacity: 0.3;
}

#boy01:hover .middle {
  opacity: 1;
}
#boy02:hover .image {
  opacity: 0.3;
}

#boy02:hover .middle {
  opacity: 1;
}
#boy03:hover .image {
  opacity: 0.3;
}

#boy03:hover .middle {
  opacity: 1;
}
#boy04:hover .image {
  opacity: 0.3;
}

#boy04:hover .middle {
  opacity: 1;
}
#boy05:hover .image {
  opacity: 0.3;
}

#boy05:hover .middle {
  opacity: 1;
}
#a01:hover .image {
  opacity: 0.3;
}

#a01:hover .middle {
  opacity: 1;
}
#a02:hover .image {
  opacity: 0.3;
}

#a02:hover .middle {
  opacity: 1;
}
#a03:hover .image {
  opacity: 0.3;
}

#a03:hover .middle {
  opacity: 1;
}
#a04:hover .image {
  opacity: 0.3;
}

#a04:hover .middle {
  opacity: 1;
}
#a05:hover .image {
  opacity: 0.3;
}

#a05:hover .middle {
  opacity: 1;
}
#a6:hover .image {
  opacity: 0.3;
}

#a06:hover .middle {
  opacity: 1;
}
#a07:hover .image {
  opacity: 0.3;
}

#a07:hover .middle {
  opacity: 1;
}
#a08:hover .image {
  opacity: 0.3;
}

#a08:hover .middle {
  opacity: 1;
}


.head{
    padding: 0;
}



.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 40px;
    padding-top: -50px;
}

